<!DOCTYPE html>
<html lang="de">
<head>
	<title>FLL Jury Matrix</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/screens/style?screen=juryMatrix" media="screen">
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js" defer></script>
	<script src="/webjars/stomp-websocket/stomp.min.js" defer></script>

	<script src="/js/client.js" defer></script>
	<script src="/js/juryMatrix.js" defer></script>
</head>
<body>
<h1 class="eventName"></h1>
<h2 class="juryHeader"></h2>
<br>
<table class="table" id="matrix">
	<thead>
	<tr>
		<th>Zeit</th>
		<th>-1</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>10:00</td>
		<td>TR1</td>
	</tr>
	</tbody>
</table>
<br>
<table class="table" id="teams">
	<tr>
		<td>-1</td>
		<td>Name</td>
	</tr>

</table>

</body>
</html>