<!DOCTYPE HTML>
<html lang="de">
<head>
	<title>FLL Scoreboard</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/screens/style?screen=scoreboard" media="screen">
	<script src="/webjars/jquery/jquery.min.js" defer></script>
	<script src="/webjars/sockjs-client/sockjs.min.js" defer></script>
	<script src="/webjars/stomp-websocket/stomp.min.js" defer></script>

	<script src="/js/client.js" defer></script>
	<script src="/js/scoreboard.js" defer></script>
</head>
<body>
<h1 class="eventName"></h1>
<h2></h2>
<table class="table" id="scoreboard">
	<thead>
	<tr>
		<th>Team</th>
		<th>PR I</th>
		<th>PR II</th>
		<th>PR III</th>
		<th>Rank</th>
	</tr>
	</thead>
	<tbody>

	</tbody>
</table>
</body>
</html>