<!DOCTYPE HTML>
<html lang="de">
<head>
	<title>FLL Scoreboard</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/screens/style?screen=scoreboard" media="screen">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		function updateEventName() {
			$.ajax({
				method: "GET",
				url: "/rest/eventName"
			}).done(function(msg) {
				$('.eventName').text(msg + ' | Robot-Game Score');
			}).catch(function(error) {
				console.log(error);
			});
		}

		function updateScoreboard() {
			$.ajax({
				method: "GET",
				url: "/rest/scores"
			}).done(function(msg) {
				$('#scoreboard tbody').empty();
				$.each(msg, function(i, item) {
					$('<tr>').append(
						$('<td>').text(item.name),
						$('<td>').text(item.round1),
						$('<td>').text(item.round2),
						$('<td>').text(item.round3),
						$('<td>').text(item.rank)
					).appendTo('#scoreboard');
				});
			}).catch(function(error) {
				console.log(error);
			});
		}

		$(document).ready(function() {
			updateEventName()
			setInterval(updateEventName, 100000000);

			updateScoreboard();
			setInterval(updateScoreboard, 120000);
		});
	</script>
</head>
<body>
<h1 class="eventName"></h1>
<table class="table" id="scoreboard">
	<thead>
	<tr>
		<th>Team</th>
		<th>PR I</th>
		<th>PR II</th>
		<th>PR III</th>
		<th>Rank</th>
	</tr>
	</thead>
	<tbody>

	</tbody>
</table>
</body>
</html>