<!DOCTYPE HTML>
<html lang="de">
<head>
	<title>FLL Timetable</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/screens/style?screen=timetable" media="screen">
	<script src="/webjars/jquery/jquery.min.js" defer></script>
	<script src="/webjars/sockjs-client/sockjs.min.js" defer></script>
	<script src="/webjars/stomp-websocket/stomp.min.js" defer></script>

	<script src="/js/client.js" defer></script>
	<script src="/js/timetable.js" defer></script>
</head>
<body>
<h1 class="eventName"></h1>
<h2></h2>

<table class="table" id="timetable">
	<thead>
	<tr>
		<th>Time</th>
		<th>Team 1</th>
		<th>Table 1</th>
		<th>Table 2</th>
		<th>Team 2</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Uhrzeit</td>
		<td>Team 1</td>
		<td>Tisch 1</td>
		<td>Tisch 2</td>
		<td>Team 2</td>
	</tr>
	</tbody>
</table>
</body>
</html>