<!DOCTYPE HTML>
<html lang="de">
<head>
	<title>FLL Timetable</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/screens/style?screen=timetable" media="screen">
	<script src="/js/jquery-3.5.1.min.js"></script>
	<script src="/js/client.js"></script>
	<script>
		function updateTable() {
			$.ajax({
				method: "GET",
				url: "/rest/timetable"
			}).done(function(timetable) {
				$('#timetable tbody').empty();
				$.each(timetable, function(i, item) {
					const row = $('<tr>');
					row.append($('<td>').text(item.time));
					if (item.hasOwnProperty('tableA')) {
						row.append(
							$('<td>').text(item.teamA != null ? item.teamA.name : ''),
							$('<td>').text(item.tableA.name),
							$('<td>').text(item.tableB.name),
							$('<td>').text(item.teamB != null ? item.teamB.name : '')
						);
					} else {
						//Pause
						row.append($('<td>').attr('colspan', 4).text('Pause'));
					}
					row.appendTo('#timetable');
				});
			}).catch(function(error) {
				console.log(error);
			})
		}

		$(document).ready(function() {
			updateH1('timetable', undefined);
			updateH2('timetable', undefined);
			setInterval(function() {
				updateH1('timetable', undefined);
				updateH2('timetable', undefined);
			}, 100000000);

			updateTable();
			setInterval(updateTable, 120000);
		});

	</script>
</head>
<body>
<h1 class="eventName"></h1>
<h2></h2>

<table class="table" id="timetable">
	<thead>
	<tr>
		<th>Time</th>
		<th>Team 1</th>
		<th>Table 1</th>
		<th>Table 2</th>
		<th>Team 2</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Uhrzeit</td>
		<td>Team 1</td>
		<td>Tisch 1</td>
		<td>Tisch 2</td>
		<td>Team 2</td>
	</tr>
	</tbody>
</table>
</body>
</html>