<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${welcome} ? 'Welcome' : 'Good Bye'">Welcome</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/screens/style?screen=welcome" th:href="'/screens/style?screen=' + (${welcome} ? 'welcome' : 'bye')" media="screen">

	<script src="/webjars/jquery/jquery.min.js" defer></script>
	<script src="/webjars/sockjs-client/sockjs.min.js" defer></script>
	<script src="/webjars/stomp-websocket/stomp.min.js" defer></script>

	<script src="/js/client.js" defer></script>
	<script>
		$(document).ready(function() {
			setupHeadlineUpdate(isWelcomeSite() ? 'welcome' : 'bye');
		});
	</script>
</head>
<body>
<div id="welcomeText">
	<h1></h1>
	<h2></h2>
</div>
</body>
</html>